{
    "user1": [
        {
            "domain": ".tsdm39.net",
            "expiry": 1533687398,
            "httpOnly": true,
            "name": "s_gkr8_f719_auth",
            "path": "/",
            "secure": true,
            "value": "tcyKV5oukBlJAMtagHcKWcpCPBBIiNJK1YjZAmJcUm4zNxRrGC2Ww3DbeuON419fz7odk8UBThmzbHneCt2QCVOP415J45d5f7"
        },
        {
            "domain": ".tsdm39.net",
            "expiry": 1533687390,
            "httpOnly": true,
            "name": "s_gkr8_f719_saltkey",
            "path": "/",
            "secure": true,
            "value": "61RA153P"
        }
    ]
}