# 样本settings.py, 需要修改的时候把文件后缀的.example去掉


# 天使动漫:
TSDM_CREDENTIALS = [['user1', 'password1'],
                    ['user2', 'password2']
                    ]


# Stage1st:
# S1_CREDENTIALS = [["user1", "password1"]]


# 是否使用s1自动刷时间功能
enable_s1_read = False
